.title {
  text-align: center;
}

.feedLink {
  font-size: 1.5em;
  color: black;
  margin: 10px;
  text-decoration: none;
}

.homeLink {
  font-size: 1.5em;
  color: black;
  margin: 10px;
  text-decoration: none;
}

.newsLink {
  font-size: 1.5em;
  color: black;
  margin: 10px;
  text-decoration: none;
}

.active {
  color: orange;
}
